.order-lists{
    width: 100%;
    margin-top: 40px;
    .order-item{
        width: 100%;
        margin-bottom: 10px;
        background-color: #ffffff;
        display: flex;
        flex-flow: column;
        border-bottom:1px solid #f5f5f5;
        .item-top{
            width:100%;
            display: flex;
            flex-flow: row;
            .item-left{
                flex:0 0 20%;
                img{
                    width: 40px;
                    height:40px;
                    background-color: blueviolet;
                    border-radius: 50%;
                }
            }
            .item-right{
                flex:1;
                display: flex;
                flex-direction: column;
            }
        }
        .item-bottom{
            display: flex;
            flex-flow: row;
            align-items: flex-end;
            div{
                background-color: #ffff00;
            }
        }
    }
}